// colors
// #E4572E flame
// #17BEBB tiffany
// #B4E1FF fresh air
// #C1FF9B mint green
// #16DB93 caribbean

a:hover {
  text-decoration: none;
}


.media-icons {
  list-style-type: none;
  float: right;
  padding-left: 7px;
}

.media-icons a {
  color: black;
}

a:hover {
  color: #E4572E;
}







  
 