// colors
// #E4572E flame
// #17BEBB tiffany
// #B4E1FF fresh air
// #C1FF9B mint green
// #16DB93 caribbean

@mixin boxShadow($colour, $length){
    $value: ();
    @for $i from 1 through $length{
      $px: $i + px;
      $shadow: $px $px $colour;
      $value: append($value, $shadow, comma)
  
    }
    text-shadow: $value;
  }
  
  
  .author{
    font-family: 'Arial', sans-serif;
    font-size: 80px;
    font-weight: 900;
    color: #16DB93;
    @include boxShadow(rgb(160, 237, 209), 1000);
    border: none;
    text-align: center;
    line-height: .8;
  }
  
  .author:nth-child(2){
    color: #E4572E;
    @include boxShadow(rgb(233, 166, 145) , 1000);
  }
  
  .author:last-child{
    color: #1b5bea;
    @include boxShadow(#fd82e6, 1000)
  }

  
  .hoverEffect {
    margin:15px 0;
    color:#e4572e;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:0.25rem;
    
    position:relative;
    display:inline-block;
    padding:20px 0;
    
    transition:all 0.4s ease-in-out;
  }
  
  .hoverEffect:after, .hoverEffect:before {
    content:"";
    height:4px;
    background-color:#FFE476;
    background-color:transparent;
    position:absolute;
    display:block;
    width:10%;
  
    transition:all 0.4s ease-in-out;
  }
  .hoverEffect:before {
    top:0;
    right:0;
  }
  .hoverEffect:after {
    bottom:0;
    left:0;
  }
  .hoverEffect:hover:after , 
  .hoverEffect:hover:before {
    background-color:#FFE476;
    width:100%;
  }  