// colors
// #E4572E flame
// #17BEBB tiffany
// #B4E1FF fresh air
// #C1FF9B mint green
// #16DB93 caribbean

* {
  box-sizing: border-box;
}

.article-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 50px;
}

.article-item {
  margin: 10px;
  padding-top: 5px;
  flex: 0 0 calc(33.33% - 20px);
  overflow: auto;
  
  @media (max-width:415px) { 
    flex: 0 1 auto
  }
}

a:hover {
  text-decoration: none;
}


.media-icons {
  list-style-type: none;
  float: right;
  padding-left: 7px;
}

.media-icons a {
  color: black;
}

a:hover {
  color: #E4572E;
}



.nav {
  background: #16DB93;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 5rem;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.nav-item {
  width: 20%;
  margin: 0;
  text-align: center;

}



  
 